@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #efefbb;
    background-image: linear-gradient(to right, #d4d3dd, #efefbb);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-y: scroll;
}

h1 {
    letter-spacing: 3px;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    border-radius: 10px;
    background-color: #eee;
    box-shadow: 0 3px 15px rgba(100,100,100,.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.pokemon .img-container {
    background-color: rgba(255,255,255, .6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img {
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .info .number {
    background-color: rgba(0,0,0,.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: .8em;
}

.pokemon .info .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

.grass {
    background-color: #DEFDE0;
}

.fire {
    background-color: #FDDFDF;
}

.water {
    background-color: #DEF3FD;
}

.bug {
    background-color: #f8d5a3;
}

.normal {
    background-color: #F5F5F5;
}

.poison {
    background-color: #98d7a5;
}

.electric {
    background-color: #FCF7DE;
}

.fairy {
    background-color: #fceaff;
}

.ground {
    background-color: #f4e7da;
}

.fighting {
    background-color: #E6E0D4;
}

.psychic {
    background-color: #eaeda1;
}

.ice {
    background-color: snow;
}

.rock {
    background-color: #d5d5d4;
}

.dragon {
    background-color: #97b3e6;
}

.flying {
    background-color: #F5F5F5;
}